GOERLI_MNEMONIC="your goerli mnemonic"
GOERLI_PROVIDER_URL="provider url"
GOERLI_API_KEY="provider api key"
MUMBAI_MNEMONIC="your mumbai mnemonic"
MUMBAI_PROVIDER_URL="provider url"
MUMBAI_API_KEY="provider api key"
USDC_OWNER_ADDRESS=0x7713974908Be4BEd47172370115e8b1219F4A5f0
