GOERLI_MNEMONIC="your goerli mnemonic"
GOERLI_PROVIDER_URL="provider url"
GOERLI_API_KEY="provider api key"
MUMBAI_MNEMONIC="your mumbai mnemonic"
MUMBAI_PROVIDER_URL="provider url"
MUMBAI_API_KEY="provider api key"
# configure token mint/approve amount and fee handlers
TOKEN_AMOUNT="1000"
FEE_ORACLE_ADDRESS="0x70B7D7448982b15295150575541D1d3b862f7FE9"
# fee handler with oracle
FHWO_GAS_USED="100000"
FHWO_FEE_PERCENTAGE=100
# basic fee handler, fee is in ETH
BFH_FEE=0.001
