on: [pull_request]
name: Linter check

jobs:
  lint-solidity:
    name: Lint Solidity
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: '14.x'

      - run: yarn install --frozen-lockfile --non-interactive

      - name: Run linter
        run: yarn run lint:solidity

  lint-js:
    name: Lint JS
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: '14.x'

      - run: yarn install --frozen-lockfile --non-interactive
      - name: Run linter
        run: yarn run lint:js
